{% extends 'base/base.html' %}
{% block title %} Sing In {% endblock title %}
{% block content %}
{% include 'base/navbar.html' %}
<section class="vh-100 bg-image"
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                       <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                       </div>
                    {% endfor %}
                {% endfor %}
             {% endif %}
             
                <div class="form-outline mb-4">
                  <input type="email" name="username" id="form3Example3cg" class="form-control form-control-lg" required />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

    
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-lg">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Not account? <a href="{% url 'signup' %}" class="fw-bold text-body"><u>Create one</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
