{% extends 'base/3-col-template.html' %}


{% block content-left %}
{% include 'base/secondary-navbar.html' %}
{% endblock %}


{% block content-mid %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
<div class="card p-5" style="width: 38rem;">
    <div class="card-body">
    {%if object.name %}
      <h4 class="card-title">{{object.name}}</h4>
    {% else %}
        <h4 class="card-title">{{object.owner}}</h4>
    {% endif %}
      <p class="card-text">{{object.about|safe}}</p>
      <a href="#" roll="button" class="btn btn-secondary">Update profile</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

