{% extends 'base/3-col-template.html' %}
{% load humanize %}
{% load tag_cloud %}
{% load related_posts %}


{% block content-left %}
{% include 'base/secondary-navbar.html' %}
{% endblock %}

{% block content-mid %}

<style>
    .blog h1 {
        letter-spacing: -0.6px;

    }

    .post h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .post p {
        font-family: Barlow;
        font-size: 17px;
        line-height: 32px;
        letter-spacing: 0.2px;
    }
</style>

<div class="blog center mx-auto" style="max-width: 683px">

    <div class="text-muted">{{post.author.first_name}}</div>
    {% if request.user == post.author %}
    <div><a  class="float-end btn btn-secondary" roll="button" href="{% url 'update_post' post.slug %}">Update</a></div>
    <div><a  class="float-end btn btn-danger me-2" roll="button" href="{% url 'delete_post' post.slug %}">Delete</a></div>
    {% endif %}
    <div class="text-muted">{{post.updated_at|naturalday}}</div>
    <div class="text-muted pb-4">views: {{ hitcount.total_hits }} </div>
    <h1 class="fw-bold pb-2">{{post.title}}</h1>
    <div class="post">{{post.body|markdown|safe}}</div>

    {% include 'blog/components/comment_form.html' %}
</div>
{% endblock %}


{% block content-right %}
{% sidebar_tag_cloud %}
{% related post.slug %}


{% endblock %}